body{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #B7CC1B;
}
.container {
    position: absolute;
    text-align: center;
    height:100%;
    width: 1900px;
}

#static {
    position: fixed;
    background-color: cadetblue;
    height: 100%;
    width: 400px;
    clip-path:ellipse(100% 80% at 10% 20%);
    box-shadow: 9px -8px 14px 0px rgba(130, 130, 130, 1);
}

