body{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
div {
    position: absolute;
    text-align: center;
}

section{
    height: 2400px;
    width: 1900px;
}

article{
    height: 800px;
}

#top{
    color: rgb(172, 172, 35);
    background-color: black;
}

#main{
    color: black;
    background-color: rgb(172, 172, 35);
}