body{
    margin: 0;
    padding: 0;
}

.slide{
    width: 100vw;
    height: 100vh;
}

.wrapper{
    display: flex;
    flex-direction: row;
    width:400vw;    
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.one{
    background-color: blanchedalmond;
}

.two{
    background-color: rgb(236, 204, 100);
}

.three{
    background-color: rgb(20, 204, 100);
}

.four{
    background-color:rgb(86, 99, 219);
}

.outer-wrapper{
    width: 100vh;
    height: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    position: absolute;
}