doctype html 
html
    head
        link(rel="stylesheet", href="style.css")
        nav
            a(href="Features.html") Features
            a(href="Solutions.html") Solutions
            a(href="Resources.html") Resources
            a(href="pricing.html") Pricing
            button Log-in 
            button Sign-Up

        

    body 
        h1 One app the world loves.
        article Open a free account in minutes right from your phone, and make your money go further.
        

    foot
        div  
            button Get Started
            h3 Now It's Free