@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    background-color: #FDF7F2;
}

nav ul{
    float: left;
    /*! margin-top: 8px; */
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 15px 30px;
    font-family: 'Open sans', 'Poppins';
    font-size: 1.5vw;
    
}

a{
    color:black;
    text-decoration: none;
}
.root{
    width:auto;
    display:grid;
    
}
.navbar{
    width:1900px;
    margin: 44px;
    display: flex;
    padding: 0;
}
.logo {
    padding: 10px;
  }

.login{
    margin-right:50px;
}

.content{
    width:900px;
    margin: 50px 50px;

}
article{
    font-size: 46px;
    margin-top:50px;
}

h1{
    font-size:160px;
}

.graphics {
    position: absolute;
    margin: 250px 850px;
  }
